.upload {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border: 2px dashed #DCD1D5;
  border-radius: 8px;
  cursor: pointer;
  background-color: #FFFFFF;
  transition: all 0.2s ease;
}

.upload:hover{
    border-color: #00F0B1;
    background-color: #00F0B1/10;
  }

  .upload span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #5000C9;
    color: #FAFAFA;
  }

  .upload p {
    font-size: 14px;
    color: #171717;
  }